@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 text-slate-900;
}

a {
  @apply text-accent hover:underline;
}

button:disabled {
  @apply opacity-60 cursor-not-allowed;
}
